{% load static %}
{% block title %} {{ request.resolver_match.url_name|title }} {% endblock %}
{% block content %}
    <form method="post">
    {% csrf_token %}
    {% for field in form %}
        {{ field }}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="text-danger small">{{ error }}</div>
            {% endfor %}
        {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-success">{{ request.resolver_match.url_name }}</button>
    </form>
    {% if request.resolver_match.url_name == 'login' %}
        <a href="">register</a> <br />
        <a href="">forgot password</a>
    {% elif request.resolver_match.url_name == 'register' %}
        <a href="">login</a>
    {% endif %}
{% endblock %}